.Message{
    display: flex;
    position: relative;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    margin-bottom: 18px;
    height: 190px;
}

.Message__picture {
    padding: 18px;
    text-align: center;
}

.Message__date{
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 12px;
    flex: 1;
    color: #717171;
    height: 6px;
}

.Message__info{
    font-size: 12px;
}

.Message__content{
    flex: 1;
}

.Message__name{
    font-size: 12px;
    padding-top: 12px;
}

.Message__button-container {
    padding: 6px 12px;
    width: 285px;
}

.Message__button--starred{
    background-color: #C2A039;
    color: white;
    border-color: #C2A039 !important;
}

.Message__button{
    font-size: 14px;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    border-color: #CCCCCC
}

.Message__trash-btn {
    color: #FFFFFF;
    font-size: 14px;
    background-color: #FF4007;
    float: right;
    padding: 8px;
    margin-left: 8px;
}

.Message__info--highlighted{
    background-color: yellow;
}